/* checkout.css */

.container {
    border-radius: 4px;
    margin: 50px auto;
    padding: 20px;
    position: relative;
    margin-top: 150px;
    margin-bottom: 150px;
}

.container h2 {
    color: #333;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: none;
}

.order-items {
    margin-bottom: 30px;
}

.order-items .item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eaeaea;
}
.checkout-item{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 22px;
}
.checkout-buttons-containe{
    margin-left: auto;
}
button#submitOrder {
    background: black;
    color: white;
    width: 100%;
    font-size: 1.4rem;
    border: none;
    padding: 10px 20px;
}
.checkout-buttons{
    padding: 5px 8px;
    border: none;
    border-radius: 100%;
    background: white;
}
.order-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    font-size: 1.2rem;
    font-weight: bold;
}

.checkout-button {
    text-align: center;
}

.checkout-button button {
    background-color: #5cb85c; /* Groene kleur */
    color: white;
    border: none;
    padding: 10px 30px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.checkout-button button:hover {
    background-color: #449d44; /* Donkerdere groene kleur bij hover */
}
.alert {
    padding: 20px;
    background-color: white; /* Green */
    color: black;
    margin-bottom: 15px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: opacity 0.3s ease-in-out;
}

.alert-success {
    background-color: white; /* Slightly lighter green variation for success */
}
.container button{
    padding: 10px 40px;
    font-size: 1rem;
    border: none;
    background: black;
    color: white;
}

.container ul{
    margin-bottom: 40px;
    list-style: none;
}
.container li{
    padding-top: 20px;
}
.alert-close {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.alert-close:hover {
    color: #b1b1b1;
}

/* Optional: If you want the alert to be dismissible */
.alert.dismissible {
    padding-right: 35px; /* Make space for the close button */
}

.alert.dismissible .alert-close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px;
}

/* Responsive design */
@media screen and (max-width: 768px) {
    .container {
        margin: 20px;
        padding: 10px;
        margin: 100px 0px;
    }

    .container h2 {
        margin-top: 100px; /* Behoudt de ruimte aan de bovenkant ook op mobiele apparaten */
        margin-bottom: 50px; /* Optioneel: Aangepaste ondermarge voor mobiel */
    }

    .order-items .checkout-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .checkout-item div, .checkout-item button {
        margin: 5px 0; /* Voegt ruimte toe tussen de items en knoppen op kleinere schermen */
    }

    button#submitOrder, .checkout-buttons {
        font-size: 1rem; /* Maakt tekst in knoppen kleiner */
        padding: 8px 16px; /* Past padding aan voor betere bereikbaarheid */
    }

    .order-total, .checkout-button button {
        font-size: 1rem;
    }

    .alert {
        font-size: 1.3rem;
        text-align: center;
    }
 
}