/* resources/css/home.css */

.home-container {
  width: 100%;
  height: auto;
  
}

.hero-section {
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Donkere overlay om tekst beter leesbaar te maken */
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  text-align: center;
  color: #fff;
}

.hero-content h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

.hero-content p {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.btn-primary {
  background-color: #e0a800; /* Of een andere opvallende kleur */
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  border: none;
  border-radius: 5px;
}

.qr-instructions {
  padding: 50px 0;
  text-align: center;
  background: #fff; /* Of een lichte kleur voor het contrast */
}

.qr-instructions-content h2 {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 20px;
}

.qr-instructions-content p {
  font-size: 1.2em;
  color: #555;
  margin-bottom: 20px;
}

.qr-code-instruction-image {
  max-width: 200px;
  margin: auto;
}

/* Voeg media queries toe om responsiviteit te garanderen */
@media (max-width: 768px) {
  .hero-content h1 {
      font-size: 2em; /* Kleinere tekst voor kleinere schermen */
      margin-bottom: 0.3em;
  }

  .hero-content p {
      font-size: 1em;
      margin-bottom: 0.5em;
  }

  .btn-primary {
      padding: 8px 16px; /* Kleinere knoppen */
  }

  .qr-instructions-content h2 {
      font-size: 2em;
  }

  .qr-instructions-content p,
  .qr-instructions-step {
      font-size: 0.9em;
  }

  .qr-code-instruction-image {
      max-width: 150px;
  }
}

/* Media query voor mobiele telefoons */
@media (max-width: 480px) {
  .hero-section {
      height: auto; /* Hoogte aanpassen voor mobiele weergave */
  }

  .hero-content {
      padding: 20px; /* Voeg padding toe zodat het niet tegen de randen zit */
  }

  .hero-content h1 {
      font-size: 1.5em;
  }

  .hero-content p {
      font-size: 0.8em;
  }

  .btn-primary {
      font-size: 0.8em; /* Maak de tekst op de knop kleiner */
  }

  .home-container{
    margin-top: 76px;
  }
  .qr-instructions {
      padding: 20px 0;
  }

  .qr-instructions-content h2 {
      font-size: 1.5em;
  }

  .qr-instructions-content p,
  .qr-instructions-step {
      font-size: 0.8em;
  }

  .qr-code-instruction-image {
      max-width: 120px; /* Maak de QR-code afbeelding kleiner op mobiele apparaten */
  }

  /* Pas de lay-out van de navigatie en andere elementen indien nodig aan */
}


