/* Extra CSS in public/css/menu.css */

/* Standaard stijlen resetten */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

.header {
    background-color: #000;
    color: white;
    padding: 20px 0;
    text-align: center;
    top: 0;
    position: fixed;
}
.checkout .order-items .item{
    display: flex!important;
    flex-direction: row!important;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-title {
    flex-grow: 1; /* Zorgt ervoor dat het Menu naar links wordt geduwd */
    text-align: left;
}

.shopping-cart-icon {
    cursor: pointer;
    font-size: 2rem; /* Grootte van het winkelwagen symbool */
    position: relative; /* Nodig voor de positionering van de cart-panel */
}

.cart-count {
    background-color: white;
    color: black;
    border-radius: 100%;
    padding: 5px 9px;
    font-size: 1rem;
    position: absolute;
    top: -12px;
    right: -12px;
}

.cart-container {
    display: inline-block;
    position: relative;
}

.cart-panel {
    display: none;
    position: absolute;
    right: 0;
    background-color: #000000;
    min-width: 200px;
    max-height: 400px;
    overflow-y: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    border-radius: 5px; /* Licht afgeronde hoeken voor het paneel */
}

.cart-panel ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.cart-panel li {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.cart-panel li:last-child {
    border-bottom: none; /* Verwijdert de border van de laatste li */
}

/* Hover effect voor het winkelwagentje */
.cart-container:hover .cart-panel {
    display: block;
}

.qr-message {
    display: block; /* Zorgt ervoor dat het een eigen regel neemt */
    margin: 20px auto; /* Centreert de melding */
    background-color: #4CAF50; /* Groene achtergrond */
    color: white;
    padding: 10px;
    border-radius: 20px; /* Maakt de hoeken minder rond */
    font-size: 1rem;
    width: fit-content;
}

.container {
    max-width: 800px;
    margin: 20px auto;
}

.category-header {
    padding: 5px 15px;
    margin: 10px -20px;
    font-weight: bold;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}
.item-info{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 91%;
}
img.menu-item-image {
    width: 100%;
    border-radius: 65px;
    height: 140px;
    margin-bottom: 20px;
    object-fit: cover;
}

.item-name {
    font-weight: bold;
}

.item-description {
    color: #666;
    margin: 5px 0;
}

.item-price {
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.add-item-btn {
    background-color: #5cb85c; /* Groene kleur */
    color: white;
    border: none;
    cursor: pointer;
    padding: 0px 7px; /* Verhoog de padding voor een grotere knop */
    font-size: 1.4rem; /* Vergroot het + teken */
    border-radius: 50%; /* Maakt de knop volledig rond */
    transition: background-color 0.3s ease; /* Voegt een overgangseffect toe */
}

.add-item-btn:hover {
    background-color: #449d44; /* Donkerdere groene kleur voor hover effect */

}
.menu-navigation-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    background: #8d0801;
    color: white;
    padding: 20px;
}

.menu-navigation-container a{
    color: white;
    text-decoration: none;
}
